<main class="homepage">
    <h2 class="welcome">Welcome {{userFname}}!</h2>
    <p>{{email}}</p>
        <ul class="blocks">
            {{#each userchallenges as |challenge|}}
            <li>
                <div class="challengeBox">
                    <div class="boxHeader">
                        <div class="delete">
                            <a href="/removeChal/{{challenge.id}}" class="iconDelete"><i class="fa-solid fa-square-xmark"></i></a>
                        </div>
                        <div class="title">
                            <h3>{{challenge.title}}</h3>
                        </div>
                    </div>
                    <div class="boxContent">
                            <p class="boxPContent">
                                {{challenge.description}}
                            </p>
                        <div class="score">
                            <div class="plusminus">
                                <a href="/updateScore/{{challenge.id}}" class="iconPlusminus"><i class="fa-solid fa-square-minus"></i></a>
                            </div>
                            <div class="scoreVal">
                                {{challenge.user_score}}
                            </div>
                            <div class="plusminus">
                                <a href="/updateScore/{{challenge.id}}" class="iconPlusminus"><i class="fa-solid fa-square-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
</main>